@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Tilt+Prism&family=Wallpoet&display=swap');

*{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.timesList{
    background-color: antiquewhite;
    min-width: 250px;
    text-align: center;
    padding: 10px;
    overflow: auto;
    outline: 1px solid black;
}

#timesTable{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

th{
    background-color: #e76c6c;
    border: 1px solid black;
    padding: 4px;
}

td{
    background-color:beige;
    border: 1px solid black;
    padding: 4px;
}

.main{
    display: grid;
    align-content: center;
    justify-items: center;
    text-align: center;
    width:100%;
    outline: 1px solid black;
}

#logotype{
    width:200px;
}

h2{
    margin:30px;
    font-size: 40px;
}

.chronometer{
    display: flex;
    flex-direction: row;
    font-size: 120px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.cents{
    font-size: 70px;
}

.rubiks-cube{
    /*Caras de 60x60px espaciadas por 5px*/
    position: absolute;
    bottom: 40px;
    right: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.face{
    width: 60px;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin:5px
}

.piece{
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.not-row {
    position:relative;
    left:70px
}

.text{
    font-size: 1.3rem;
}